<input id="pass" type="password">
<input id="check" type="checkbox" onclick="passwordToggle()">
<script>
    /* check.onClick=passwordToggle; */

    function passwordToggle(){
        var password = document.getElementById("pass"); 
        if(password.type === "password"){
            password.type = "text";
        }      else{
            password.type = "password";
        }
    }


</script>